.cards > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(278px, 1fr));
    grid-gap: 16px;
    color: black;
}

.cards-container {
    margin-top: -5rem;
    box-shadow: 0 5px 5px -5px var(--mid-gray);
}

.cards > ul > li {
    background-color: var(--light-gray);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
}

.cards .cards-card-body {
    margin: 16px;
}

.cards .cards-card-image {
    line-height: 0;
}

.cards .cards-card-body > *:first-child {
    margin-top: 0;
}

.cards > ul > li img {
    width: 100%;
    aspect-ratio: 4 / 3;
    object-fit: cover;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}

.cards .card-tag {
    color: var(--text-light-color);
    background-color: var(--darkest-color);
    padding: 6px 12px;
    border-radius: var(--border-radius);
}

.cards .card-tag-wrapper {
    display: inline;
}

.icon-cards > ul {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.icon-cards > ul > li {
    background-color: var(--pure-white);
    border-radius: var(--border-radius);
    color: var(--charcoal-gray);
    border: 2px solid var(--mid-gray);
    box-shadow: 0 5px 15px 0 var(--mid-gray);
}

.icon-cards > ul > li:hover {
    transform: scale(1.03);
    box-shadow: 0 10px 24px -6px var(--mid-gray);
}

.icon-card > .icon-header {
    display: flex;
    align-items: center;
}

.icon-card > .icon-header > picture {
    max-width: 125px;
    flex-shrink: 0;
    margin-right: 16px;
}

.icon-card > .icon-header > h3 {
    font-size: var(--heading-font-size-s);
    color: var(--charcoal-gray);
}

.icon-card > .icon-header > *:last-child {
    flex-grow: 1;
}
