main .hero-container > div {
  max-width: unset;
}

main .hero {
  position: relative;
  padding: 0 30px;
  min-height: 300px;
  display: flex;
  align-items: center;
}

main .hero > div {
  width: 100%;
}

main .hero > div > div {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 50%));
  grid-gap: 16px;
}

main .hero-container {
  padding: 0;
}

.hero > div > div > p {
  margin:0;
}

.hero h1 {
  margin-left: auto;
  margin-right: auto;
    color: var(--pure-white);
    background: rgb(213 43 30 / 30%);
  backdrop-filter: blur(5px);
  padding: var(--spacing-small);
  border-radius: var(--border-radius);
  display: table;
}

.hero picture {
  position: absolute;
  z-index: -1;
  inset: 0;
  object-fit: cover;
  box-sizing: border-box;
  filter: brightness(100%);
}

.hero img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.hero.dark h1 {
  color: var(--pure-white);
  background: rgb(213 43 30 / 30%);
}

.hero.rounded img {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

@media (width >= 600px) {
  main .hero {
    padding: 0 30px;
    min-height: 500px;
  }
}

@media (width >= 900px) {
  main .hero {
    padding: 0 60px;
    min-height: 600px;
  }
}
