.teams {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.team {
  position: relative;
  background-color: white;
  padding: 2rem;
  width: 400px;
  min-height: 300px;
  box-shadow: var(--box-shadow);
}

.team-title {
  margin-bottom: 1.5rem;
  color: black;
}

.team-members-title {
  color: black;
  margin-top: 1rem;
  padding-top: 1rem;
  border-top: solid 1px var(--dark-color);
}

.team-members {
  clear: both;
}

.team-member {
  margin-bottom: 0.5rem;
}

.team-description {
  color: black;
}
