/* stylelint-disable max-line-length */
@font-face {
  font-family: 'Nunito-VariableFont_wght';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/Nunito-VariableFont_wght.woff2') format('woff2');
}
