/* add global styles that can be loaded post LCP here */
.bg-skyblue {
    background-color: var(--sky-blue)
}

.bg-skyblue h1,
.bg-skyblue h2,
.bg-skyblue h3,
.bg-skyblue h4,
.bg-skyblue h5,
.bg-skyblue h6 {
    color: var(--alpine-blue)
}

.border-radius {
    border-radius: var(--border-radius);
}


/**
 * Template & Theme styles
 */

